* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #F9A826;
    --bg-color: #f1f1f1;
}

body {
    background-color: var(--bg-color);
    font-family: 'Poppins', sans-serif;
}