* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #F9A826;
    --bg-color: #fefefe;
}

body {
    background-color: var(--bg-color);
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.header-list {
    list-style: none;
    display: flex;
    gap: 20px;
}

.header-list a{
    color: #000;
    text-decoration: none;
}

.header-list a:hover {
    color: var(--main-color);
}

/* HOME SECTION */

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    gap: 40px;
}

.home-title {
    font-size: 35px;
    width: 500px;
}

.home-description {
    font-size: 14px;
    width: 400px;
    padding: 20px 0;
}

.home-btn {
    background-color: var(--main-color);
    padding: 10px 20px;
    color: #000;
    border: 1px solid black;
    border-radius: 20px;
}

.home-btn a {
    color: #000;
    text-decoration: none;
}

.home-image {
    width: 400px;
}

/* RECIPES SECTION */
.recipes {
    padding: 40px;
}

.recipes-title {
    text-align: center;
    font-size: 30px;
}

.recipes-paragraph {
    text-align: center;
    font-size: 14px;
}

.recipes-cards {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    gap: 40px;
    padding: 40px;
}

.recipes-card {
    width: 250px;
    height: 350px;
    position: relative;
    border: 1px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.recipes-card-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-bottom: 1px solid black;
}

.recipes-card-name {
    font-size: 16px;
    padding: 5px 20px;
}

.recipes-card-description {
    font-size: 14px;
    padding: 0 20px;
    text-align: justify;
}

.recipes-card-btn {
    position: absolute;
    bottom: 5%;
    padding: 5px 20px;
    border: 1px solid black;
    border-radius: 8px;
}

.recipes-card-btn a {
    color: #000;
    text-decoration: none;
}

.recipes-card-btn:hover {
    transition: .2s;
    background-color: var(--main-color);
}

/* FOOTER */
.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: #000;
}

.footer-copy{
    font-size: 14px;
    color: #fff;
}

.footer-images{
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-images img{
    width: 20px;
    height: 20px;
}